<html>
  <head>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/angular-sanitize/angular-sanitize.min.js"></script>
    <script src="../bower_components/tv4/tv4.js"></script>
    <script src="../bower_components/objectpath/lib/ObjectPath.js"></script>
    <script src="../bower_components/angular-schema-form/dist/schema-form.min.js"></script>
    <script src="../bower_components/angular-schema-form-bootstrap/bootstrap-decorator.min.js"></script>
    <script src="../dist/<%= paramName %>.js"></script>

    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="main.css">

    <script>

      angular.module('test', ['schemaForm', '<%= directive %>']).controller('FormController', function($scope) {

        $scope.schema = <%- schema -%>

        $scope.form = <%- form -%>

        $scope.model = {};

      });

    </script>
    <title>Testing <%= name %> ASF addon</title>
  </head>

  <body ng-app="test">
    <div class="container-fluid" ng-controller="FormController">

        <div class="col-sm-6 form">
          <form sf-schema="schema" sf-form="form" sf-model="model"></form>
        </div>

        <div class="col-sm-6 debug">
          <div class="wrapper">
            <div class="row">
              <div class="col-md-12">
                <h4>Model</h4>
                <pre>{{model | json}}</pre>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>Form</h4>
                <pre>{{form | json}}</pre>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <h4>Schema</h4>
                <pre>{{schema | json}}</pre>
              </div>
            </div>
          </div>
        </div>
    </div>
  </body>

</html>
